{
  "semi": true,
  "bracketSpacing": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 120,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true
}
