@import "tailwindcss";

@theme {
  --color-bodyBgFrom: #364649;
  --color-bodyBgVia: #4a6569;
  --color-bodyBgTo: #708f96;
  --color-text: #fff;
}

body {
  background: linear-gradient(to bottom left, var(--color-bodyBgFrom), var(--color-bodyBgVia), var(--color-bodyBgTo));
  color: var(--color-text);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/bgPattern2.svg");
    background-position: center;
    z-index: -1;
  }
}

#app {
  @apply container mx-auto px-4 py-10 flex-grow h-1 max-w-2xl grid gap-2 content-start;
}
